
.navbar-default .navbar-nav>li>a {
  color: #777;
  font-family: 'Helvetica Neue', sans-serif;
}
.navbar-default .navbar-brand {
  color: #777;
  font-weight:bold;
}
.navbar-brand {
  padding:10px;
}
.navbar-brand img {
  width:30px;
  height:30px;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #777;
}
.navbar-default .navbar-brand:hover {
  color: #777;
}
.navbar-default {
  border-radius: 0;
  background: white;
  border:none;
  margin-bottom:0;
}

@media screen and (min-width: 768px) {
  .navbar-default {
    height: 70px;
  }
  .navbar-brand {
    height: 70px;
    padding: 0 20px;
    display:flex;
    align-items:center;
  }
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color:white;
    border-bottom:3px solid #555;
  }
  .navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
    padding: 25px 20px 22px 20px;
    transition: border-color .5s;
    border-bottom-color: transparent;
  }
  .navbar-default .navbar-nav>li>a:hover {
    color: #555;
    background-color:white;
    border-bottom:3px solid #777;
  }
}
body {
  /*padding-top: 50px;*/
}
.row-m-t {
  margin-top: 20px;
}
.row-table-head {
  border-bottom: 2px solid #ddd;
  margin-bottom:10px;
}
.row-table-desc {
  margin-bottom:50px;
}
.btn-xs-space {
  margin-right: 5px;
}
#home-overlay {
  width:100%;
  height:100vh;
  display:flex;
  align-items:center;
  min-height:300px;
}
#home-overlay > .jumbotron-clear > h1, #home-overlay > .jumbotron-clear > h2 {
  color: white;
  text-shadow: 0px 0px 20px #111;
}
.shadow-text {
  text-shadow: 0px 0px 10px #777;
}
.bold-serif {
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif;
}
.jumbotron-clear {
  background: transparent;
}
.header-jumbo {
  background: #ff6961;
  color: white;
  padding:10px 0 20px 0;
}
.header-jumbo h1 {
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif;
  font-size:28px;
  text-align: center;
}
.subheader-jumbo {
  background: #ff6961;
  color: white;
  margin-bottom:30px;
  position:sticky;
  top:0px;
  text-align:center;
}
.subheader-jumbo h3 {
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif;
  margin-bottom:20px;
}
* {
  font-family: 'Georgia',sans-serif;
  line-height: 1.5em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
}
h1 i, h2 i, h3 i, h4 i, h5 i, h6 i {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
}
.img-cover {
  background-size: cover;
}

.responsive-iframe-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}

.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.responsive-iframe-container-sm {
  position: relative;
  padding-bottom: 500px;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.responsive-iframe-container-sm iframe,
.vresponsive-iframe-container-sm object,
.vresponsive-iframe-container-sm embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.alert-box {
  background: #f0ad4e;
  padding:15px;
  color:white;
  margin-bottom:10px;
  padding-top:5px;
}
#home-overlay h1 {
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif;
}
.alert-row {
  background:#ff6961;
  color:white;
}
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  font-family: 'Helvetica Neue', sans-serif;
}
.alert-box-outline {
  border: 1px solid gray;
  padding:15px;
  margin-bottom:20px;
  padding-top:5px;
  background:white;
  border-color: linear-gradient(to left, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.alert-box-trans-outline {
  border-top: 1px solid rgba(255,255,255, 0.2);
  border-bottom: 1px solid rgba(255,255,255, 0.2);
  padding:5px 30px 15px 30px;
  margin-top:10px;
  margin-bottom:10px;
  background:none;
}
.committee h3 {
  font-weight:bold;
}
#homeNavList {
  background: #222;
  padding: 40px 0;
  color:white;
}
#homeNavList ul {
  display:flex;
  justify-content: space-between;
  list-style:none;
  padding-left:0;
  flex-wrap: wrap;
}
#homeNavList li {
  padding: 0 10px;
  margin: 10px 0;
  flex-basis: 200px;
}
#homeNavList a {
  font-family: 'Helvetica Neue', sans-serif;
  text-shadow:none;
  color:white;
}
.eventLabel {
  font-size:9px;
  padding:3px 5px;
  border-radius:5px;
  background: #333;
  color:white;
  margin-left:5px;
  vertical-align: middle;
}
.img-bottom-fixed {
  position: absolute;
  bottom:25px;
  right: 25px;
  width:75px;
}
.list-img img {
  max-width: 60%;
  min-width:500px;
  margin:20px;
  height:auto;
}
.footer {
  text-align: center;
  padding:10px;
  font-family: 'Helvetica Neue', sans-serif;
}
#homeNavList > .container > ul > li > a {
  font-weight: bold;
}
.container-out {
  padding:50px 0;
}
.blockquote-red {
  border-left: 5px solid #ff6961;
}
.col-block {
  padding:20px;
}
.container {
  max-width:800px;
}
.jumbotron .container {
  max-width:800px;
}
.container-out p, .container-out .container > ul > li, .container-out .container > ol > li {
  line-height:1.75em;
  font-size:1.2em;
}
.container-out a {
  text-decoration:underline;
  font-weight:bold;
}
.img-box-white {
  background-color:white;
  padding:40px 30px;
  margin:20px 0;
  border-radius:10px;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
